
body,html{
	/*font-family: 'Esteban', serif;*/
	/*font-family: 'Ledger', serif;*/
	font-family: 'Georgia',serif;
	margin: 0em;
	padding:0em;
	height: 100%;
}

body,html,header{
	width: 100%;
}


li.no-link-text{
	margin-top: 2%;
	cursor: auto;
}

header#header,footer#footer,.main{
	margin: 0em auto;
}

header#header{
	height: 12%;
	top: 0;

}

footer#footer{
	height: 6%;
	width: 40%;
}

/*.main{
	position: relative;
}*/

footer#footer,input.input-large{
	font-size: 1em;
	font-weight: 400;
}

a#promo-button{
	margin-top: 17%;
	margin-left:12.5%;
	font-weight: 600;
	font-size: 140%;
	border-radius: 4em;
}



button,a#promo-button{
	font-family: 'Georgia', serif;
}

div.modal-body{
	padding: 0em;
	padding-top: 1.4em;
}

span a#logo{
	float: left;
	outline: none;
	text-decoration:none;
	cursor: pointer;
	margin-left: 15%;
	width:17%;
}

nav#header-color,nav#div-nav{
	top: 0;
	right: 0;
}

nav#div-nav{
	width: 100%;
	height: 95%;
}

nav#header-color{
	width: 21.5%;
	float: right;
	margin-top: 25px;
}

nav#header-color ul li a img{
	height: 2em;
	width:2em;
}

ul li{
	display:list-item;
	outline: none;
	margin-left:0em;
	text-decoration: none;
	cursor: pointer;
}

ul#social-color,ul#partner-color{
	list-style:none;
	display: inline;
	margin: 0em;
}

ul#social-color li a:hover{
	zoom: 1.5;
}

div#bike-pic{
	height: 78%;
	width: 100%;
	background: url("../img/bike.png") no-repeat;
	margin-bottom: 1em;
	overflow: hidden;
}

#footer ul li a img{
	height: 2em;
	width: 3em;
	margin-right: 2em;
}

#footer ul li a:hover{
	background: #fff;
}

.nav-pills li a{
	padding:0em 0.4em;
}
