<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Aquahold</title>

		<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
		<script type="text/javascript" src="../js/osbornscript.js"></script>

		<!--link href='http://fonts.googleapis.com/css?family=Esteban' rel='stylesheet' type='text/css'-->
		<link href='http://fonts.googleapis.com/css?family=Ledger' rel='stylesheet' type='text/css'>
		<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css" />
		<link type="text/css" rel="stylesheet" href="../css/landing.css" />
		<link type="text/css" rel="stylesheet" href="../css/homeview.css" />
		<link type="text/css" rel="stylesheet" href="../css/homeview.css" /> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	
	<body>
		
		<header id="header" class="main">
			 <span>
	         	<a id="logo" href="/" rel="#default"><img src="../img/logo.png"></a>
	         </span>
	        <nav id="header-color">
	         	<ul class="nav nav-pills" id="social-color">
	         		<li></li>
	         		<li><a href="" target="_blank" class="social">
						<img src="../img/picons03.png" />
					</a></li>
						<li><a href="" target="_blank" class="social">
						<img src="../img/picons06.png" />
					</a></li>
					<li><a href="" class="social" target="_blank">
							<img src="../img/picons40.png" />
					</a></li>
					<li><a href="" target="_blank" class="social">
						<img src="../img/picons11.png" />
					</a></li>
	            	<li><a href="" class="social" target="_blank">
							<img src="../img/picons18.png" />
					</a></li>
					<li><a href="" class="social" target="_blank">
							<img src="../img/picons38.png" />
					</a></li>
	            </ul>
	          </nav>
		</header>

		<div id="bike-pic">
		</div>

		<a href="#myModal" role="button" class="btn btn-large btn-info" id="promo-button" data-toggle="modal">Sign up for a free bottle!
		</a>
		

		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  		<div class="modal-header">
    		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    		<h3 id="myModalLabel">Your info here</h3>
  		</div>
  		<div class="modal-body">
  			<div class="modal-wrapper">
    		<form class="form-horizontal" name="myForm" onsubmit="return validateForm()">
    			<div class="control-group">
    				<label class="control-label" name="inputName">Name</label>
    				<div class="controls">
      					<input class="input-large"  type="text" id="inputName" placeholder="Name">
    				</div>
  				</div>
  				<div class="control-group">
    				<label class="control-label" for="inputEmail">Email</label>
    				<div class="controls">
      					<input class="input-large" type="email" id="inputEmail" placeholder="Email Address">
   					</div>
   				</div>
   				<div class="control-group">
    				<div class="controls">
      					<button type="submit" class="btn" value="Submit" id="submit-btn">Submit</button>
    				</div>
  				</div>
			</form>
  		</div>
  	</div>
  		<div class="modal-footer">
    		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  		</div>
		</div>

		<div id="div-color">
			<nav id="div-nav">
				<ul class="nav nav-pills" id="partner-color">
	         		<li class="no-link-text" style="margin-right:30px;">
	         			In partnership with:  
	         		</li>
	         		<li><a href="" target="_blank" class="social">
						<img src="../img/letourdefrance.gif" />
					</a></li>
						<li><a href="" target="_blank" class="social">
						<img src="../img/evian.jpg" />
					</a></li>
					<li><a href="" class="social" target="_blank">
							<img src="../img/pinarello.jpg" style="margin-right:0px; width:95px; height:25px;"/>
					</a></li> 
					<li class="no-link-text" style="margin-left:30px;" >&copy 2013</li>
	            </ul>
			</nav>
		</div>
	</body>	
		<script type="text/javascript" src="../js/bootstrap.min.js"></script>
</html>
